{% extends 'base.html.twig' %}

{% block title %}{{ student.name }} - Profile{% endblock %}


{% block body %}
    <div style="width: 75%">
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}