{% extends 'base.html.twig' %}

{% block title %}Étudiant -
	{{ student.name }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 d-flex flex-column align-items-center">
		{% for classroom in student.classrooms %}
			
		<pre>
			{{ dump(classroom) }}
		</pre>
		{% endfor %}
		</div>
	</div>
{% endblock %}
