{% extends 'security/security_base.html.twig' %}

{% block title %}Confirm your email{% endblock %}

{% block body %}
    <div class="d-flex flex-column container border bg-white mt-lg-5 w-25 p-4 mr-auto ml-auto rounded">
        <h1>Please check your email</h1>
        <h3>We had sent you an confirmation email</h3>
        <h2>Have a nice day!</h2>
    </div>
{% endblock %}





