{% extends 'security/security_base.html.twig' %}

{% block title %}Confirmez votre email{% endblock %}

{% block body %}
    <div class="d-flex flex-column container border bg-white mt-lg-5 w-25 p-4 mr-auto ml-auto rounded">
        <h1>Merci de consulter vos emails</h1>
        <h3>Nous avons vous envoyé un email de confirmation</h3>
        <h2>Bonne journée !</h2>
    </div>
{% endblock %}





