{% extends 'security/security_base.html.twig' %}

{% block title %}Confirmez votre email{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center container border bg-white mt-lg-5 w-25 p-4 mr-auto ml-auto rounded">
        <img src="{{ asset('images/cp-logo.webp') }}" alt="logo-C&P" style="max-width: 150px; height: auto;">
        <h2 class="text-center mt-4">Merci de consulter votre messagerie.</h2>
        <h2 class="text-center mt-4">Nous vous avons envoyé un email de confirmation.</h2>
        <h2 class="text-center">Bonne journée !</h2>
    </div>
{% endblock %}





