{% extends 'base.html.twig' %}

{% block title %}Éditer la question{% endblock %}

{% block body %}
    <h1>Éditer la question</h1>
    {{ include('question/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}