{% extends 'base.html.twig' %}

{% block title %}Editer Question{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer Question</h1>
        {{ include('question/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}