{% extends 'base.html.twig' %}

{% block title %}Éditer la question{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

    <h3>Éditer la question</h3>
    {{ include('question/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}