{% extends 'base.html.twig' %}

{% block title %}Editer Question{% endblock %}

{% block home %}
    <a class="dropdown-item" href="{{ path('teacher_index') }}">Home <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
    <h1>Editer Question</h1>
    {{ include('question/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}