{% extends 'base.html.twig' %}

{% block title %}Editer Question{% endblock %}

{% block body %}
    <h1>Editer Question</h1>
    {{ include('question/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}