{% extends 'base.html.twig' %}

{% block title %}Editer Profil
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>
	{% if list_profile_edit %}
		{{list_profile_edit}}
	{% endif %}

	{% include "profile/_form.html.twig" %}
{% endblock %}
