/* My files */
@import "../bootstrap/bootstrap.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";

$base-font-size: 14px;
$primary: rgb(99, 122, 255);
$padding: 20px;

//Usual staff
html,
body {
    font-size: $base-font-size;
}

.table {
    width: 100%;

    td {
        border: 1px solid #ccc;
    }

    thead {
        background: {
            color: #000;
            repeat: no-repeat;
        }

        color: #fff;
    }

    @media only screen and (max-width: 1200px) {
        width: 90%;
    }
}

%btn {
    padding: rem(5) rem(12);
    border-radius: 3px;
}

.btn {
    @extend %btn;
    text-decoration: none;
    background: $primary;

    @if (lightness($primary) > 50%) {
        color: darken($primary, 50);
    }

    @else {
        color: lighten($primary, 50);
    }


    &:hover {
        @if (lightness($primary) > 50%) {
            background: lighten($primary, 50);
        }

        @else {
            background: darken($primary, 50);
        }
    }
}

.btn-danger {
    @extend .btn;

    background: rgb(179, 77, 77);

    &:hover {
        background: rgb(116, 33, 33);
    }
}

@media #{$xlarge-down} {
    .btn {
        width: 50%;
    }
}

%shadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.card {
    @extend %shadow;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    background: #fff;
    @include transform(rotate(40deg));
    @include triangle(#ff0000, 15px);
}

.card-action {
    @extend .btn;
}

.card-cancel {
    @extend .btn-danger;
}

.card-actions {
    display: flex;
}

@for $i from 1 through 4 {
    .m-#{$i} {
        margin: 0 ($i * .25rem);
    }
}

$animals: bear, lion, camel;

@each $animal in $animals {
    .icon-#{$animal} {
        background: url(img/#{$animal}.png);
    }
}

$categories:
    chien #ca6969,
    chat #54bd54,
    poisson #8f8ff9;

@each $category in $categories {
    @debug nth($list: $category, $n: 2); 
    .#{nth($category, 1)} {
        background: nth($list: $category, $n: 2);

        @if (lightness(nth($list: $category, $n: 2)) > 50%) {
            color: darken(nth($list: $category, $n: 2), 50);
        }
    
        @else {
            color: lighten(nth($list: $category, $n: 2), 50);
        }
    
    }
}

@media #{$medium-down} {
    .card-action {
        display: block;
    }

    .btn {
        width: 100%;
    }
}