/* My files */
@import "scss/bootstrap.scss";
@import "scss/libs/mixins.scss";
@import "scss/libs/functions.scss";
@import "scss/libs/responsive.scss";

.size {
  height: 50px;
}

.profile {
  width: 35px;
  color: white;
}

.dropdown-menu-sw {
  right: 0;
  left: auto;
}

.wrong {
  background-color: #ff6a50;
  color: #FFFFFF;
}

.correct {
  background-color: #dde7c7;
  color: #FFFFFF;
}

