{% extends 'base.html.twig' %}

{% block title %}Éditer le lien
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h1>Éditer le lien</h1>
			{{ include('link/_form.html.twig', {'button_label': 'Éditer'}) }}
		</div>
	</div>
{% endblock %}
