{% extends 'base.html.twig' %}

{% block title %}Éditer le lien
{% endblock %}

{% block body %}
	<div class="row mt-4 mb-5">
		<div class="col-10 offset-1">
			<h3>Éditer le lien</h3>
			{{ include('link/_form.html.twig', {'button_label': 'Éditer'}) }}
		</div>
	</div>
{% endblock %}
