{% extends 'base.html.twig' %}

{% block title %}Editer Lien
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h1>Editer Lien</h1>
			{{ include('link/_form.html.twig', {'button_label': 'Editer'}) }}
		</div>
	</div>
{% endblock %}
