{% extends 'base.html.twig' %}

{% block title %}Ajouter un lien
{% endblock %}

{% block body %}

	{{ wo_render_breadcrumbs() }}

	{% if classroom_id %}
		<div class="row col-12">
			<a href="{{ path('link_index', {classroom_id: classroom_id}) }}" class="btn btn-secondary mb-2" role="button">Ajouter un lien</a>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-12">
			<h1>Ajouter nouveau lien</h1>
			{{ include('link/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
