{% extends "base.html.twig" %}

{% block title %}Éditer module{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

    <h1>Éditer le module</h1>
    {{ include('lesson/_form.html.twig', {form: form, button: 'Éditer'}) }}
{% endblock %}

