{% extends "base.html.twig" %}

{% block title %}Créer Module
{% endblock %}

{% block body %}
	{% if classroom %}
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<a href="{{ path('list_lessons', {classroom_id: classroom.id}) }}" class="btn btn-secondary">importer module existante</a>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-12">
			<h1>Créer un module</h1>
			{{ include('lesson/_form.html.twig', {form: form, button: 'Créer'}) }}
		</div>
	</div>
{% endblock %}
