{% extends "base.html.twig" %}

{% block title %}Créer Module
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	{% if classroom %}
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<a href="{{ path('lesson_index', {classroom_id: classroom.id, list: true}) }}" class="btn btn-secondary">importer module existante</a>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-12">
			<h3>Créer un module</h3>
			{{ include('lesson/_form.html.twig', {form: form, button: 'Créer'}) }}
		</div>
	</div>
{% endblock %}
