<div class="container">
	<div id="contact">
		<h3>{{ data.name }}, bienvenue à</h3>
		<h3>Contact et Promotion !</h3>
		{% if data.type is defined %}
			<h4>Vous avez été invité à rejoindre la classe :</h4>
			<p class="classroom-id">{{ data.discipline }}</p>
		{% endif %}

		<fieldset>
			{% if data.type is defined and data.type == "teacher" %}
				<a href="https://plataform.loc/register?type=teacher&classroom={{ data.classroom }}" class="btn">Enregistrement</a>
			{% elseif data.type is defined and data.type == "student" %}
				<a href="https://plataform.loc/register?type=student&classroom={{ data.classroom }}" class="btn">Enregistrement</a>
			{% else %}
				<a href="https://plataform.loc/register" class="btn">Enregistrement</a>
			{% endif %}
		</fieldset>
	</div>
</div>

<style>
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	body {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 12px;
		line-height: 30px;
		color: #777;
		background: #d6d6d6;
	}

	.container {
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	#contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #F9F9F9;
		padding: 25px;
		margin: 150px 0;
		border-radius: 10px;
	}

	#contact h3 {
		text-align: center;
		display: block;
		font-size: 30px;
		font-weight: 300;
		margin-bottom: 10px;
	}

	#contact h4 {
		text-align: center;
		margin: 5px 0 10px;
		display: block;
		font-size: 16px;
		font-weight: 400;
	}

	.classroom-id {
		width: 75%;
		font-size: 20px;
		font-weight: bolder;
		color: #f8f9fa;
		background-color: #343a40;
	}

	p {
		text-align: center;
	}

	fieldset {
		margin-top: 10px;
		text-align: center;
		border: medium none !important;
		min-width: 100%;
		padding: 0;
		width: 100%;
	}

	.btn {
		border-radius: 10px;
		cursor: pointer;
		width: 100%;
		border: none;
		background: #4CAF50;
		color: #FFF;
		padding: 10px;
		font-size: 15px;
		text-decoration: none;
	}

	.btn:hover {
		background: #43A047;
		-webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
		transition: background-color 0.3s ease-in-out;
	}

	.btn:active {
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	}
</style>
