{% extends 'base.html.twig' %}
{% block title %}Editer une classe{% endblock %}

{% block body %}
    <h1>Editer une classe</h1>
    {{ include ("classroom/_form.html.twig", {form: form, button: 'Editer'}) }}
{% endblock %}

