{% extends 'base.html.twig' %}
{% block title %}Editer une classe
{% endblock %}

{% block body %}
	{{ wo_render_breadcrumbs() }}

	<h3>Éditer une classe</h3>
	{{ include ("classroom/_form.html.twig", {form: form, button: 'Éditer'}) }}
{% endblock %}
