{% extends 'base.html.twig' %}
{% block title %}Créer une classe{% endblock %}

{% block body %}
	{{ wo_render_breadcrumbs() }}

    <h3>Créer une classe</h3>
    {{ include ("classroom/_form.html.twig", {button: 'Créer'}) }}
{% endblock %}
