{% extends 'base.html.twig' %}
{% block title %}Créer une classe
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col10 offset-1">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>
	<div class="row mt-4 mb-5">
		<div class="col-10 offset-1">
			<h3>Créer une classe</h3>
			{{ include ("classroom/_form.html.twig", {button: 'Créer'}) }}
		</div>
	</div>
{% endblock %}
