{% extends 'base.html.twig' %}
{% block title %}Create Classroom{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Crate Classroom</h1>
        {{ include ("user/classroom/_form.html.twig", {button: 'Créer'}) }}
    </div>
{% endblock %}
