{% extends 'base.html.twig' %}
{% block title %}Create Classroom{% endblock %}

{% block body %}
    <h1>Crate Classroom</h1>
    {{ include ("user/classroom/_form.html.twig", {button: 'Créer'}) }}
{% endblock %}
