{% extends 'base.html.twig' %}
{% block title %}Créer une classe{% endblock %}

{% block body %}
    <h1>Créer une classe</h1>
    {{ include ("user/classroom/_form.html.twig", {button: 'Créer'}) }}
{% endblock %}
