{% extends 'base.html.twig' %}
{% block title %}Edite Classroom{% endblock %}

{% block body %}
    <h1>Edit Classroom</h1>
    {{ include ("user/classroom/_form.html.twig", {form: form, button: 'Edit'}) }}
{% endblock %}

