{% extends "base.html.twig" %}

{% block title %}Edit Questionnaire{% endblock %}

{% block body %}
    <h1>Éditer le questionnaire</h1>
    {{ include('questionnaire/_form.html.twig', {form: form, button: 'Éditer'}) }}
{% endblock %}


