{% extends "base.html.twig" %}

{% block title %}Edit Questionnaire{% endblock %}

{% block home %}
    <a class="dropdown-item" href="{{ path('teacher_index') }}">Home <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
    <h1>Editer Questionnaire</h1>
    {{ include('questionnaire/_form.html.twig', {form: form, button: 'Edit'}) }}
{% endblock %}


