{% extends "base.html.twig" %}

{% block title %}Edit Questionnaire{% endblock %}

{% block body %}
    <h1>Editer Questionnaire</h1>
    {{ include('questionnaire/_form.html.twig', {form: form, button: 'Edit'}) }}
{% endblock %}


