{% extends "base.html.twig" %}

{% block title %}Créer une activité
{% endblock %}

{% block body %}
	{% if lesson_id is not null %}
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<a href="{{ path('list_questionnaires', {lesson_id: lesson_id, classroom_id: classroom_id}) }}" class="btn btn-secondary">importer activité existante</a>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-12">
			<h1>Créer une activité</h1>
			{{ include('questionnaire/_form.html.twig', {form: form, button: 'Créer'}) }}
		</div>
	</div>
{% endblock %}
